:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --first-btn-color: #f5f4fa;
  --hover-btn-color: #188ce8;
  --main-light-color: #ffffff;
  --primary-bg-color: #2f303a;
  --logo-text-color: #000000;
  --border-line-color: #eeeeee;
  --head-border-color: #ececec;
  --item-space-gap: 30px;
  --first-icon-color: #afb1b8;
  --background-icon-color: rgba(255, 255, 255, 0.1);
  --address-main-color: rgba(255, 255, 255, 0.6);
  --thumb-hover-color: rgba(33, 150, 243, 0.9);
  --transition-time: 250ms;
  --function-time: cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits__list, .developments__list, .team__list, .clients__list, .filter, .card-set, .join-list, .subscribe__list, .social-network {
  display: flex;
  flex-wrap: wrap;
}

.header {
  border-bottom: 1px solid var(--head-border-color);
}

.header-main,
.nav {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--logo-text-color);
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__item {
  position: relative;
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.current::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  min-width: 100%;
  min-height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-time) var(--function-time);
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-top: 0;
  background-color: var(--primary-bg-color);
}

.hero__main {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-bottom: var(--item-space-gap);
  color: var(--main-light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-light-color);
  background-color: var(--accent-color);
  transform: background-color var(--transition-time) var(--function-time);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hover-btn-color);
}

.benefits__list {
  margin: -15px;
}

.benefits__item {
  flex-basis: calc(100% / 4 - var(--item-space-gap));
  margin: 15px;
}

.benefits__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--item-space-gap);
  min-width: 270px;
  min-height: 120px;
  background: var(--first-btn-color);
  border-radius: 4px;
}

.benefits__subtitle {
  margin-bottom: 10px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

.developments {
  padding-bottom: 94px;
}

.developments__list {
  margin: -15px;
}

.developments__item {
  flex-basis: calc(100% / 3 - var(--item-space-gap));
  margin: 15px;
}

.developments__title {
  margin-bottom: 50px;
}

.development__thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.development__thumb::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.development__subtitle {
  position: absolute;
  bottom: 27px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  color: var(--main-light-color);
}

.team {
  background: var(--first-btn-color);
}

.team__list {
  margin: -15px;
}

.team__item {
  flex-basis: calc(100% / 4 - var(--item-space-gap));
  margin: 15px;
  text-align: center;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-bottom: 50px;
}

.team__content {
  padding: var(--item-space-gap) 32px;
}

.team__name {
  line-height: 1.18;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.team__positions {
  line-height: 1.18;
  font-size: 16px;
  margin-bottom: 16px;
}

.team__link {
  color: var(--first-icon-color);
}

.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  color: var(--main-light-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-time) var(--function-time), visibility var(--transition-time) var(--function-time);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(60deg) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: var(--transition-time) var(--function-time);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  color: var(--logo-text-color);
  background: var(--main-light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--transition-time) var(--function-time);
}

.modal__btn:hover, .modal__btn:focus {
  color: var(--hover-btn-color);
}

.modal__icon {
  fill: currentColor;
}

.form-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-order__list {
  min-width: 448px;
  margin-bottom: 30px;
}

.form-order__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.form-order__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--title-text-color);
}

.form-order__item:not(:last-child) {
  margin-bottom: 10px;
}

.form-order__item:nth-child(4) {
  margin-bottom: 20px;
}

.form-order__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  transition: border-color var(--transition-time) var(--function-time);
  outline: none;
}

.form-order__input.padding-left {
  padding-left: 42px;
}

.form-order__input:focus, .form-order__input:hover {
  border-color: var(--accent-color);
}

.form-order__icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: color var(--transition-time) var(--function-time);
}

.form-order__input:focus ~ .form-order__icon,
.form-order__input:hover ~ .form-order__icon {
  color: var(--accent-color);
}

.form-order__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-order__textarea {
  resize: none;
  padding: 12px 16px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-time) var(--function-time);
  outline: none;
}

.form-order__textarea:focus, .form-order__textarea:hover {
  border-color: var(--accent-color);
}

.form-order__textarea::placeholder {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.checkbox__link {
  color: var(--accent-color);
  margin-left: 3px;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__icon {
  display: inline-block;
  min-width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: border-color var(--transition-time) var(--function-time);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/svg/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox__input:focus + .checkbox__icon,
.checkbox__input:hover + .checkbox__icon {
  border-color: var(--accent-color);
}

.form-order__btn {
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border-radius: 4px;
  color: var(--main-light-color);
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color var(--transition-time) var(--function-time), box-shadow var(--transition-time) var(--function-time);
}

.form-order__btn:hover, .form-order__btn:focus {
  background-color: var(--hover-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  margin: -15px;
}

.clients__item {
  flex-basis: calc(100% / 6 - 30px);
  margin: 15px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  min-height: 92px;
  border: 1px solid var(--first-icon-color);
  border-radius: 4px;
  color: var(--first-icon-color);
  transition: border-color var(--transition-time) var(--function-time), color var(--transition-time) var(--function-time);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.filter {
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .filter__item + .filter__item {
  margin-left: 8px;
}

.filter__btn {
  min-width: 73px;
  padding: 6px 22px;
  margin-top: 0;
  background: var(--first-btn-color);
  line-height: 1.6;
  font-weight: 500;
  transition: background-color var(--transition-time) var(--function-time), color var(--transition-time) var(--function-time), box-shadow var(--transition-time) var(--function-time);
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn--current {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.card-set {
  margin: -15px;
  background: var(--main-light-color);
}

.card-set__item {
  flex-basis: calc(100% / 3 - var(--item-space-gap));
  margin: 15px;
  transition: box-shadow var(--transition-time) var(--function-time);
}

.portfolio__thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--thumb-hover-color);
  transform: translateY(120%);
  transition: transform var(--transition-time) var(--function-time);
}

.portfolio__link:hover .product-overlay,
.portfolio__link:focus .product-overlay {
  transform: translateY(0);
}

.product-overlay__text {
  position: absolute;
  top: 63px;
  left: 24px;
  display: inline-block;
  max-width: 322px;
  max-height: 168px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-light-color);
}

.portfilio__content {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-line-color);
  border-left: 1px solid var(--border-line-color);
  border-right: 1px solid var(--border-line-color);
}

.portfolio__link {
  display: inline-block;
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}

.portfolio__link:focus, .portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__info {
  font-size: 16px;
  line-height: 1.8;
}

.nav__link:hover,
.nav__link:focus,
.contact:hover,
.contact:focus,
.address-link.map:hover,
.address-link.map:focus,
.nav__link,
.nav__link.current,
.logo__part {
  color: var(--accent-color);
}

.color {
  color: var(--title-text-color);
}

.btn {
  display: inline-block;
  font-size: 16px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
}

.footer__main {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--main-light-color);
}

.address {
  display: flex;
  text-decoration: none;
  font-style: normal;
}

.address-link.map {
  color: var(--main-light-color);
}

.address-link {
  display: flex;
  text-decoration: none;
  font-style: inherit;
  transition: color var(--transition-time) var(--function-time);
  color: var(--address-main-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  min-width: 206px;
  margin-left: 70px;
}

.join__text {
  margin-bottom: 20px;
  color: var(--main-light-color);
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
}

.join-list {
  list-style: none;
}

.join-list .join-item + .join-item {
  margin-left: 10px;
}

.join__link {
  background: var(--background-icon-color);
  color: var(--main-light-color);
}

.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: currentColor;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.subscribe__list .subscribe__item + .subscribe__item {
  margin-left: 12px;
}

.subscribe__input {
  padding: 15px;
  min-width: 356px;
  min-height: 50px;
  color: var(--main-light-color);
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscribe__input:focus, .subscribe__input:hover {
  border-color: var(--accent-color);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  min-width: 200px;
  max-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color var(--transition-time) var(--function-time), box-shadow var(--transition-time) var(--function-time);
}

.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--hover-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::before, *::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-light-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  display: inline-block;
  font-style: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-time) var(--function-time);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.social-network {
  list-style: none;
}

.social-network .social-network__item + .social-network__item {
  margin-left: 10px;
}

.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-time) var(--function-time), color var(--transition-time) var(--function-time);
}

.social-network__icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */